@import url(https://fonts.googleapis.com/css?family=Barlow:400,500,700&display=swap);


html,body,div{
    margin: 0;
    padding: 0;
    font-family: barlow;
}

#wrapper{
   margin: auto;
   width: 1440px;
   background-color: red;
}

.floatLeft{
    float:left;
}
.floatRight{
    float: right;
}

#top{
    height: 90px;
    color: white;
    background-color: #005c40;
}
.snelmenu{
    width: 350px;
}

#content{
    min-height: 600px;
    color: white;
    background-color: #004630;
}

.logo{
    background-color: white;
    min-height: 80px;
    padding: 5px;
}

#top ul{
    padding-top: 35px;
}

#top ul li{
    display: inline;
    padding: 8px;
    font-weight: bold;
}

.button{
    background-color: #dbff4a;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight:bold;
}


.greens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.green1{
    background-color: rgb(56, 133, 56);
    width: 25%;
    text-align: center;
}

.green2{
    background-color: rgb(56, 133, 56);
    width: 25%;
    text-align: center;
}

.green3{
    background-color: rgb(56, 133, 56);
    width: 25%;
    text-align: center;
}

.blues{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 12%;
}


.animate1{
    background-color: blue;
    border: 2px solid black;
    height: 100px;
}

.animate2{
    background-color: blue;
    border: 3px solid black;
    height: 100px;
}

.animate3{
    background-color: blue;
    border: 3px solid black;
    height: 100px;
}

.yellows{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 12%;
}

.yellow1{
    background-color: yellow;
    color: red;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}

.yellow2{
    background-color: yellow;
    color: red;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}

.yellow3{
    background-color: yellow;
    color: red;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer1{
    background-color: purple;
    height: 100px;
    width: 25%;
    text-align: center;
}

.footer2{
    background-color: purple;
    height: 100px;
    width: 25%;
    text-align: center;
}

.footer3{
    background-color: purple;
    height: 100px;
    width: 25%;
    text-align: center;
}


